@use 'variaveis';


.footer{
    padding: 64px 64px 24px;

    &__link{
        display: flex;
        justify-content: center;

        &__item{
            list-style: none;
            padding: 0 8px;

            a{
            text-decoration: none;
            color: variaveis.$corSecundaria;

            &:hover{
                color: variaveis.$corBotaoH;
                } 
            }
        }
    }

    p{
        text-align: center;
        padding-top: 64px;
        color: variaveis.$corPadrao;
    }
}

.lenguage-selector{
    display: flex;
    align-items: center;

    img{
        width: 20px;
        height: 20px;
    }

    select{
        color: variaveis.$corSecundaria;
        background: transparent;
        border: none;
        height: 20px;

        &:hover{
            color: variaveis.$corBotaoH;
        }
    }
}


@media (max-width: 768px){
    .footer{
        padding: 24px;

        &__link{
            flex-wrap: wrap; 
            gap: 12px;

            &__item{
                padding: 0;

                a{
                    text-align: center;
                }
            }
        }
    }
}