@use 'variaveis';

.header{
    background-color: variaveis.$corHeader;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.5s ease;

    &.header--minimal {
        background-color: transparent;
        
    .header__container h1 {
        visibility: hidden;
    }

    .header__container__links__item:not(:nth-of-type(4)) {
        visibility: hidden;
        position: absolute;
    }

    .header__container__links__item:nth-of-type(4) {
        margin-left: auto;
    }
}

    h1{
            img{
                max-width: 110px;
                padding-top: 4px;
            }
        }

    &__container{
        display: flex;
        align-items: center;
        
        

        &__links{
            list-style-type: none;
            display: flex;

            &__item{
                padding: 12px;
                margin-right: 12px;

                a{
                    text-decoration: none;
                    font-size: 18px;
                    color: variaveis.$corSecundaria;
                    font-weight: bold;
                    
                }
            }

            &__item:nth-of-type(4){
                background-color: variaveis.$corSecundaria;
                border-radius: 4px;

                a {
                color: variaveis.$corPadrao;
                font-weight: bold;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .header{
        h1{
                img{
                max-width:70px ;
                justify-content: start;
                }
            }
            
        &__container{
            margin-right: 32px;
            &__links{
                &__item{
                    padding: 4px;
                    margin-right: 4px;

                    a{
                        font-size: 12px;
                    }
                }

                &__item:nth-of-type(4){
                    a{
                        display: inline-flex;         
                        align-items: center;
                        gap: 4px;                     
                        font-size: 12px;            
                        padding: 6px 12px;            
                        color: variaveis.$corPadrao;
                        font-weight: bold;
                        text-decoration: none;
                        white-space: nowrap;         
                    }
                }
            }
        }
    }
}


