$corDeFundo: #001219;
$corSecundaria:  #d62828;
$corPadrao: #fff;
$corAbasD:  #6c757d;
$corAbasA: #dee2e6;
$corModal: #e2a8a8;
$corLetras: #000;
$corHeader: #001219;
$corBotaoH:  #a10c0c;
$corFaq:  #000102;